:root {
    --bg-color-orcamento: #FFF;

}

main {
    display: grid;
    grid-template-columns: auto 25%;
    grid-template-areas: "produtos orcamentos";
}

#section-produtos {
    grid-area: produtos;
}

#section-orcamentos {
    grid-area: orcamentos;
    background-color: var(--bg-color-orcamento);
    padding: var(--tam-m) var(--tam-gg);

}

form > label {
    display: block;
    margin-top: var(--tam-m);
}

#inputNome {
    width: 100%;
}

#textAreaMensagem {
    width: 100%;
    height: 200px;
    margin-bottom: var(--tam-m);
}

